@media (max-width: 1400px) {
	.container {
		max-width: 1140px;
	}
	.sidepanel {
		display: none;
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
	.hamburger {
		right: 20px;
	}
	.title {
		&_fz48 {
			font-size: 45px;
		}
	}
	.promo {
		&__title {
			width: 490px;
		}
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}
	.title {
		&_fz48 {
			font-size: 40px;
		}
	}
	.promo {
		&__title {
			width: 440px;
		}
	}
}

@media (max-width: 576px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
	.title {
		&_fz48 {
			font-size: 26px;
			line-height: 39px;
		}
	}
	.promo {
		background: url(../img/main_bg.jpg) no-repeat 57% / cover;
		&__title {
			width: 290px;
		}
		&__btns {
			width: 230px;
		}
	}
}

