@media (max-width: 1400px) {
	.container {
		max-width: 1140px;
	}
	.sidepanel {
		display: none;
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
	.aboutme {
		margin-top: 80px;
		&__wrapper {
			padding-right: 15px;
			column-gap: 40px;
		}
		&__skills {
			margin-top: 0;
			gap: 30px 15px;
		}
	}
	.resume{
		padding-top: 100px;
		&__wrapper {
			padding: 50px 40px 0 55px;
			grid-template-columns: repeat(2, 390px);
			column-gap: 90px;
		}
	}
	.skills {
		padding-top: 100px;
		&__progress {
			margin-top: 100px;
			grid-template: repeat(3, 70px) / repeat(2, 1fr);
			grid-auto-rows: repeat(3, 70px);
			row-gap: 45px;
			column-gap: 40px;
		}
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
	.hamburger {
		right: 20px;
	}
	.title {
		&_fz48 {
			font-size: 45px;
		}
	}
	.promo {
		&__title {
			width: 490px;
		}
	}
	.aboutme {
		margin-top: 60px;
		&__wrapper {
			padding-right: 0;
			grid-template-columns: 350px auto;
			column-gap: 30px;
		}
		&__skills {
			gap: 20px 10px;
		}
		&__skills {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, auto);
			gap: 15px 10px;
		}
		&__img {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__text {
			margin-top: 15px;
			font-size: 14px;
			line-height: 20px;
		}
	}
	.title {
		font-size: 24px;
		&_fz16 {
			font-size: 16px;
		}
		&_fz14 {
			font-size: 14px;
		}
	}
	.resume {
		padding-top: 80px;
		&__wrapper {
			padding: 45px 0 0 10px;
			grid-template-columns: repeat(2, 330px);
			column-gap: 50px;
		}
	}
	.resume .divider {
		margin: 20px auto;
	}
	.skills .divider {
		margin: 10px auto 35px auto;
	}
	.skills {
		padding-top: 80px;
		&__wrapper {
			grid-template: repeat(3, 1fr)/repeat(3, 1fr);
			grid-auto-rows: repeat(3, 1fr);
		}
		&__progress {
			margin-top: 70px;
			grid-template: repeat(3, 70px)/repeat(2, 1fr);
			grid-auto-rows: 70px;
			row-gap: 45px;
			column-gap: 20px;
		}
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}
	.title {
		&_fz48 {
			font-size: 40px;
		}
	}
	.promo {
		&__title {
			width: 440px;
		}
	}
	.aboutme {
		margin-top: 50px;
		&__wrapper {
			grid-template: 560px auto auto / 1fr;
			row-gap: 20px;
		}
		&__img {
			grid-row: unset;
		}
		&__descr {
			margin-top: 30px;
		}
	}
	.resume {
		padding-top: 60px;
		&__wrapper {
			padding: 30px 0 0 0;
			grid-template-columns: repeat(2, 256px);
			column-gap: 15px;
		}
		&__item-body {
			padding-left: 30px;
		}
		&__item-head {
			padding: 20px 0 0 95px;
		}
	}
	.skills {
		padding-top: 60px;
		&__wrapper {
			grid-template: repeat(3, 1fr) / repeat(2, 1fr);
			grid-auto-rows: repeat(3, 1fr);
		}
		&__progress {
			margin-top: 40px;
			grid-template: repeat(6, 70px) / 100%;
			grid-auto-rows: 70px;
			row-gap: 45px;
			column-gap: 20px;
		}
		&__progress-line {
			width: 100%;
		}
	}
}

@media (max-width: 576px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
	.title {
		&_fz48 {
			font-size: 26px;
			line-height: 39px;
		}
	}
	.promo {
		background: url(../img/main_bg.jpg) no-repeat 57% / cover;
		&__title {
			width: 290px;
		}
		&__btns {
			width: 230px;
		}
	}
	.aboutme {
		margin-top: 40px;
		&__wrapper{
			grid-template: 340px auto auto / 1fr;
		}
	}
	.resume {
		padding-top: 40px;
		&__wrapper {
			padding: 30px 0 0 0;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
			grid-auto-rows: repeat(2, 1fr);
			row-gap: 30px;
		}
		&__title {
			line-height: 36px;
		}
	}
	.skills {
		padding-top: 40px;
		&__wrapper {
			grid-template: repeat(7, 1fr) / 1fr;
			grid-auto-rows: 1fr;
		}
	}
}

