.sidepanel {
	position: fixed;
	top: 230px;
	left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 340px;	
	z-index: 3;
	&__divider {
		width: 2px;
		height: 70px;
		background-color: #000;
	}
	&__text {
		height: 148px;
		width: 24px;
		color: #000000;
		span {
			display: block;
			width: 148px;
			transform: rotate(-90deg) translate(-42%, -235%);
		}
	}
}